<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yueqian.base.mapper.UserinfoMapper">
	<resultMap id="BaseResultMap"
		type="com.yueqian.base.domain.Userinfo">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="version" property="version" jdbcType="INTEGER" />
		<result column="bitState" property="bitState" jdbcType="BIGINT" />
		<result column="email" property="email"
			jdbcType="VARCHAR" />
		<result column="realName" property="realName"
			jdbcType="VARCHAR" />
		<result column="idNumber" property="idNumber"
			jdbcType="VARCHAR" />
		<result column="phoneNumber" property="phoneNumber"
			jdbcType="VARCHAR" />
		<result column="score" property="score" jdbcType="INTEGER" />
		<result column="realAuthId" property="realAuthId" jdbcType="BIGINT" />
		
		<association property="incomeGrade"
			javaType="com.yueqian.base.domain.SystemDictionaryItem" column="incomeGrade_id"
			select="com.yueqian.base.mapper.SystemDictionaryItemMapper.selectByPrimaryKey"></association>
		<association property="marriage"
			javaType="com.yueqian.base.domain.SystemDictionaryItem" column="marriage_id"
			select="com.yueqian.base.mapper.SystemDictionaryItemMapper.selectByPrimaryKey"></association>
		<association property="kidCount"
			javaType="com.yueqian.base.domain.SystemDictionaryItem" column="kidCount_id"
			select="com.yueqian.base.mapper.SystemDictionaryItemMapper.selectByPrimaryKey"></association>
		<association property="educationBackground"
			javaType="com.yueqian.base.domain.SystemDictionaryItem" column="educationBackground_id"
			select="com.yueqian.base.mapper.SystemDictionaryItemMapper.selectByPrimaryKey"></association>
		<association property="houseCondition"
			javaType="com.yueqian.base.domain.SystemDictionaryItem" column="houseCondition_id"
			select="com.yueqian.base.mapper.SystemDictionaryItemMapper.selectByPrimaryKey"></association>
	</resultMap>

	<insert id="insert">
		insert into `userInfo` (id,version, bitState,
		realName,email,score,realAuthId,
		idNumber, phoneNumber, incomeGrade_id,
		marriage_id,
		kidCount_id, educationBackground_id,
		houseCondition_id)
		values (#{id},0,
		#{bitState,jdbcType=BIGINT},
		#{realName,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},#{score},#{realAuthId},
		#{idNumber,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR},
		#{incomeGrade.id,jdbcType=BIGINT},
		#{marriage.id,jdbcType=BIGINT},
		#{kidCount.id,jdbcType=BIGINT},
		#{educationBackground.id,jdbcType=BIGINT},
		#{houseCondition.id,jdbcType=BIGINT})
	</insert>
	<update id="updateByPrimaryKey"
		parameterType="com.yueqian.base.domain.Userinfo">
		update `userInfo`
		set version = version + 1,
		bitState =
		#{bitState,jdbcType=BIGINT},
		realName = #{realName,jdbcType=VARCHAR},
		email = #{email,jdbcType=VARCHAR},
		score = #{score},
		idNumber = #{idNumber,jdbcType=VARCHAR},
		phoneNumber =
		#{phoneNumber,jdbcType=VARCHAR},
		realAuthId = 
		#{realAuthId,jdbcType=BIGINT},
		incomeGrade_id =
		#{incomeGrade.id,jdbcType=BIGINT},
		marriage_id =
		#{marriage.id,jdbcType=BIGINT},
		kidCount_id =
		#{kidCount.id,jdbcType=BIGINT},
		educationBackground_id =
		#{educationBackground.id,jdbcType=BIGINT},
		houseCondition_id =
		#{houseCondition.id,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
		and version = #{version}
	</update>
	
	<sql id="base_column">
	id, version, bitState, realName, email, idNumber,score,realAuthId,
		phoneNumber,
		incomeGrade_id, marriage_id,
		kidCount_id,
		educationBackground_id, houseCondition_id
	</sql>
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select <include refid="base_column"></include>
		from `userinfo`
		where id =
		#{id,jdbcType=BIGINT}
	</select>
	
	<select id="autoComplate" resultType="hashmap">
		select id,username from `logininfo` 
		where username like concat(#{keyword},'%')
	
	</select>
</mapper>